.cografyaaside
{
    width: 86%;
    height: 800px;
    float: auto;
    background-color: #dfdbdb;
}
.cografiside
{
    width: 45%;
    height: auto;
    background-color: #ffffff;
}
.sola{
    position: relative;
    float: left;
    width: 350px;
    height: 150px;
}