.birinci{
    margin-top: 5%;
}
.icyazi{
    margin-top: 2%;
}
.resimler{
    width: 300px;
    height: 150px;
}
.resimler1{
    width: 280px;
    height: 150px;
}
.resim11{
    margin: 0%;
}
.resim1,.resim2{
    margin-top: 2%;
}
@media only screen and (max-width:870px){
    .icyazi{
        min-width: 98%;

    }
}
