body
{
	background-color:cyan;
}
aside
{
	float:left;
	width:150px;
	min-height:280px;
	/* border-color:gray;  */
	/* border-style:dashed;  */
	background-color:cyan;
}
section
{
	float:left;
	width:738px;
	min-height:280px;
	 /* border-color:gray;  */
	 /* border-style:dashed;  */
	background-color:cyan;
}
.secduzeltme
{
	width:955px;
	position:relative;
	padding-right:-50px;
}
ul
{
	list-style-type:none;
}
.solmenuli
{
	width:130px;
	margin:15px;
	padding:15px;
	font-family:verdana,arial,times;
	border-color:blue;
	border-style:solid;
	background-color:yellow;
	position:relative;
	left:-65px;
	
}
.saga 
{
float: right; padding: 0 10px 0 0;
}
.sola 
{
float: left; padding: 0 10px 0 0;
}
.resimkucultme
{
	width:150px;
	height:150px;
}
.cogyazi
{
	padding-top:19px;
	padding-left:5px;
	font-size:18px;
}
.kaydirma
{
	position:relative;
	margin-right:-5px;
}
.tarihcesec1
{
	float:left;
	width:900px;
	min-height:280px;
	max-height:500px;
	/* border-color:gray;  */
	/* border-style:dashed;  */
	background-color:cyan;
}
.tarihcesec2
{
	float:left;
	width:800px;
	min-height:280px;
	max-height:500px;
	/* border-color:gray; */
	/* border-style:dashed; */
	background-color:cyan;
}
.cardbodyduzen
{
	background-color:cyan;
	border-color:cyan;
	width:300px:
}
.ilcelersec1
{
	float:left;
	width:280px;
	height:300px;
	/* border-color:gray;  */
	/* border-style:dashed;  */
	background-color:cyan;
}
.ilcesecfont
{
	font-size:13px;
}
.ilcelerimg
{
	width:125px;
	height:125px;
	position:relative;

}
.genelsec1
{
	position:relative;
	width:1700px;
	/* border-color:gray;  */
	/* border-style:dashed;  */
	background-color:cyan;
}
.genelsec2
{
	position:relative;
	margin-left:175px;
	width:1500px;
	/* border-color:gray;  */
	/* border-style:dashed;  */
	background-color:cyan;
}
.yerlesimsec
{
	float:left;
	width:1200px;
	min-height:280px;
	 border-color:gray; 
	 border-style:dashed; 
	background-color:cyan;
}
