body{
    margin: 0;
    font-family: helvetica;
    line-height: 2;
    background-color: #dfdbdb;
    padding-top:50px;

}
.con{
    padding: 10px;
    border: 5px;
}
.footeraside
{
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
    float: left;
    bottom: auto;
}   
aside{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
   /* border-style: dashed;*/
}
side{
    width: 48%;
    display: block;
    background-color: #ffffff;
    margin: 1%;
    float: left;
    /*border-style: dashed;*/
}

@media only screen and (max-width:1200px){
    side>.con>img{
        width: 100%;
    }
}
@media only screen and (max-width:870px){
    side{
        width: 98%;
    }
    side>.con>img{
        width: 50%;
    }
}
.side
{
    position: relative;
    margin-top: 50px;
}
aside>footer>.side
{
    border-right: 5px;
    border-left: 5px;
}
.dropdown-menu{
    background-color: rgba(0, 247, 255, 0.562)
}