.resimSlider
{
	height:550px;
}
body
{
	padding-top:50px;
}
.baslikkalinfont
{
	font-family: 'Dancing Script', cursive;
}
.hakkimda
{
	background-color:#f2f2f2;
}
.hobilerim
{
	background-color:#00BD39;
}
.carousel-item:hover
{
	opacity:0.8;
}
.cizgi
{
	bordor:none;
	border-top:3px solid #212121;
	max-width:750px;
	margin:25px auto;
}
.hakkimdaicon
{
	color:#212121;
	position:relative;
	top:-65px;
	font-size:50px;
	border:10px solid #f2f2f2;
	background-color:#f2f2f2;
}
.hobilericon
{
	color:#00BD39;
	position:relative;
	top:-64px;
	font-size:10px;
	height: 70px;
    width: 70px;
	border:10px solid #00BD39;
	background-color:#00BD39;
}
.rizesporfoto
{
	height: 250px;
    width: 200px;
}
.rizesporyazi
{
	font-size:25px;
}



