
.yaziaside
{
    width: 85%;
    height: auto;
    background-color: #00ff55;
    float: auto;
}
.yaziside{
    width: auto;
}
.con{
    padding: 0%;
    border:2px;
}
.kartresim
{
    height: 150px;
    width: 350px;
}
.card{
    height: 150px;
    width: 350px;
}